@font-face {
    font-family: 'poppins';
    src: url(/fonts/Poppins/27231098576.ttf);
}
@font-face {
    font-family: 'light-poppins';
    src: url(/fonts/Poppins/23653161068.ttf);
}
@font-face {
    font-family: 'playfair';
    src: url(/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}
:root{
    --white-font: #fff;
    --header-size: 1.5625em;
    --main-size: 3.125em;
    --gray-color: rgb(101,101,101,101);
    --W-size: 40em;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
}
header>nav>ul{
list-style: none;
padding: 0;
margin: 0;

}
header>nav>ul>li{
    display: inline-block;
    font-size: var(--header-size);
    padding: 10px 0 10px;
}
header>nav>ul>#left-side{
    text-align: center;
    width: 7.5em;
    color: var(--white-font);
    margin: 0;
    background-color: var(--gray-color);
}
header>nav>ul>.right-side{
    float: right;
    margin-right: 2.5em;
    margin-left: 2.5em;
}

body>main>#gray-background{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 50em;
    background: var(--gray-color);
    background: linear-gradient(90deg, rgba(101,101,101,1) 54%, rgba(158,158,158,1) 76%, rgba(238,238,238,1) 100%);
    overflow: hidden;
}
body>main>#gray-background>#text-area{
    width: 500px;
    grid-column-start: 1;
    grid-column-end: 2;
    color: var(--white-font);
    font-size: 35px;
    margin-left: 150px;
    margin-top: 100px;
}
body>main>#gray-background>#extra-text{
    display: none;
}
body>main>#gray-background>#text-area>h1{
    font-family: 'light-poppins';
    text-align: right;
}
body>main>#gray-background>#big-W{
    grid-column-start: 3;
    grid-column-end: 4;
    background-image: linear-gradient(90deg, rgba(92,92,92,1) 67%, rgba(129,129,129,1) 92%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    margin-left: -200px;
}
body>main>#gray-background>#big-W>p{
    margin: 0%;
    padding: 0;
    font-size: var(--W-size) ;
    font-family: 'playfair';
}